
.yges_objview_frame{
	border-style:double;
	box-sizing:border-box;
	padding:0.3em;
}
.yges_objview_prop{
	display:inline-block;
	box-sizing:border-box;
	border-style:ridge;
	padding:0.2em;
	max-height:75vh;
	overflow:auto;
	resize:both;
}
.yges_objview_array{
	display:inline-block;
	box-sizing:border-box;
	border-style:groove;
	padding:0.2em;
	max-height:75vh;
	overflow:auto;
	resize:both;
}
.yges_objview_pair{
	display:inline-block;
	border-style:outset;
	margin:0.2em;
}
.yges_objview_key{
	display:inline-block;
	padding:0.2em;
	height:100%;
	line-height:100%;
	
}
.yges_objview_value{
	display:inline-block;
	border-style:inset;
	padding:0.2em;
}
.yges_objview_text{
	display:inline-block;
	border-style:inset;
	padding:0.2em;
	max-height:5em;
	overflow-wrap:anywhere;
	overflow:auto;
	resize:both;
}

.yges_objview_menu_button{
	font-size:100%;
}
.yges_objview_toggle_off{
	font-size:100%;
	background-color:#666;
	font-color:#444;
}
.yges_objview_toggle_on{
	font-size:100%;
	background-color:#cc4;
	font-color:#000;
}

.yges_objview_popup{
	position:absolute;
	background-color:#000;
	border-style:double;
	padding:0.3em;
}
.yges_objview_popupitem{
	border-style:solid;
	margin:0.2em;
	padding:0.3em;
	font-size:100%;
}

.yges_objview_dialog{
	background-color:#000;
	font-size:150%;
	width:50%;
	text-align:center;
	color:white;
}
