
.yges_test_layer{
}
.yges_test_dir{
}
.yges_test_file{
}
.yges_test_scn{
}
.yges_test_caption{
	margin-left:0.5em;
}
.yges_test_msg{
	margin-left:0.5em;
}
.yges_test_stat_wip{
	color:#888888;
}
.yges_test_stat_skip{
	color:#ffcc66;
}
.yges_test_stat_ok{
	color:#66ffff;
}
.yges_test_stat_ng{
	color:#ff6666;
}
.yges_test_error{
	border-style:groove;
	margin:0.2em;
	padding:0.3em;
}
